<button toggles=".users">list users</button> <br>
<div class="users" style="border: 1px solid black">
  <section class="user-index">
    <div template>
      <form class="link-style" skip-sockets action="/users" method="GET">
        <input type="hidden" name="id" template-attr='id'>
        <input type="submit" template-attr='name'>
      </form> <br>
    </div>
  </section>
</div> <br>

<button toggles=".list-notepads">list notepads</button><br>
<div class="list-notepads" style="border: 1px solid black">
  <section class="notepad-index">
    <div template>
      <form style="display: inline" class="link-style" skip-sockets action="/notepad" method="GET">
        <input type="hidden" name="name" template-attr='name'>
        <input type="submit" template-attr='name'>
      </form>
      <form style="display: inline" class="link-style" action="/notepad" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="id" template-attr="id">
        <input type="submit" value="delete" style="color: red">
      </form>
    </div>
  </section>
</div> <br>

<button toggles=".make-notepad">Make notepad</button><br>
<div class="make-notepad" style="border: 1px solid black">
  <form skip-sockets action="/notepad" method="GET">
    <input type="text" name="name" placeholder="name">
    <input type="submit" value="submit">
  </form>
</div>

<div init="user">
  <%= Oj.dump(User.all.to_a.map { |user| user.attributes.merge('record_class' => 'user') }) %>
</div>

<div init="notepad">
  <%= Oj.dump(Notepad.all.to_a.map { |notepad| notepad.attributes.merge('record_class' => 'notepad') }) %>
</div>