<form action="authenticate" method="POST">
  <input type="text" placeholder="name" name="name">
  <input type="text" placeholder="password" name="password">
  <input type="submit" value="sign in / register">
</form>

<br>

<b>Users</b>
<ul class="user-list">
  <div template>
    <li template-attr='name'></li>
  </div>
</ul>

<br>